*{ margin-block-start: 0; margin-block-end: 0;}
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size:16px;
    color:#333;
    margin:0;
    padding:0;
}
li{
    list-style: none;
}
.bg-black{
    background-color: #000;
}
.margin-left-important{
    margin-left: -15px !important;
}
.background-moon-color{
    background-color: #1e3932;
    color: #fff;
}
.wrapper{
    width: 100%;
    position: relative;
}
.cardbox{
    position: fixed;
    top: 100px;
    right: 20px;
    width: 26%;
}
.cardbox img{
    max-width: 100%;
}
.radius-white-line{
    width: 30px;
    height: 30px;
    display: flex;
    float: right;
    position: absolute;
    border: 1px solid #fff;
    border-radius: 50%;
    right: 20px;
    justify-content: center;
    align-items: center;
    color: #fff;
}
a.radius-white-line>.material-icons {
    color :#fff;
    text-decoration: none;
}
a.radius-white-line:hover{
    text-decoration: none;
}
a.radius-white-line:hover>.material-icons{
    color: #eee
}

/** 네비게이션 **/
.nav-bg{
   background:#e5e5e5;
   padding-top:5px;
   border-top:2px solid #333;
   position:fixed;
   z-index:100;
   top:0;
   left:0;
   width:100%;
   position:relative;
}
.nav-bg .row {
    padding-top:5px;
    padding-bottom:10px;
}
.logo{
    width:80%;
}
.topnavbox{
    display:flex;
}
.gnb, .topnav{
    list-style-type:none;
    margin:0;
    padding:0;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    width:100%;
}
.topnav li:not(:last-child)::after{
    content:"";
    display:inline-block;
    height:10px;
    width:1px;
    background:#999;
}
.navin a{
    white-space: nowrap;
    color:#333;
    font-family:'Avenir Next LT Pro', sans-serif;
}
.topnav a{
    width:calc(100% - 1px);
    display:inline-block;
    padding:0 15px;
    font-size:13px;
    color:#333;
    font-weight:300;
}

.input-search {
    width:0;
    border:none;
    outline: none;
    background:transparent;
    transition:all .25s;
}
.searchForm{
    display:flex;
    justify-content: flex-end;
    align-items:center;
}
.searchForm.act {
    border:1px solid #999;
    background:#fff;
    border-radius:8px;
    padding:5px 10px;
    position:relative;
}
.input-search.act{
    width:150px;
}
.input-search::placeholder{
    font-size:13px;
    color:#999;
}
a.search-btn{
    background:#fff;
    border:1px solid #999;
    border-radius:5px;
    padding:1px 5px;
    color:#333;
}
.searchForm.act a.search-btn{
    border:none;
    padding:0;
    position:absolute;
    right:5px;
}
a.search-btn span.material-icons{
    font-size:28px;
}
.gnb {
    margin-top:10px;
}
.gnb li{
    text-align:center;
}
.gnb li:hover{
    background:#333;
}
.gnb li:hover a{
    color:#14a86b;
}
.gnb>li>a{
    display:inline-block;
    font-weight:300;
    padding:15px 15px 30px;
}
div.lnb{
    position:absolute;
    width:100%;
    padding: 20px 0;
    left:0;
    top:123px;
    background:#333;
    display:none;
    z-index:10;
}
.lnb ul{
    list-style:none;
    padding:0;
    margin:0;
    display:flex;
    flex-wrap: wrap;
}
.lnb li{
    width:20%;
}
.gnb li:hover .lnb a{
    display:block;
    color:#fff;
    font-size:13px;
    line-height:30px;
    text-align:left;
}
.lnb a.lnb-title{
    font-weight:700;
    font-size:14px;
    margin:30px;
    line-height:1.2;
    text-align:left;
}
.lnb a:last-child {
    margin-bottom:40px;
}
.navin{
    display:none;
}
.mobile{
    display:block;
}
.btn-box{
    display:flex;
    justify-content: flex-end;
}
a>.material-icons {
    color:#333;
}
a:hover>.material-icons {
    color:#000;
}
.material-icons.menu{
    cursor:pointer;
}
.fadeblack {
    position:fixed;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.6);
    top:0;
    left:0;
    display:none;
    transform: translateX(-100%);
    left: 100%;
}
.mobile-nav-box{
    background:#000;
    height:100%;
    margin:0;
    padding:0;
    margin-left:30%;
    position:relative;
    list-style-type:none;
    overflow-y: scroll;
}
.mobile-nav-box li{
    border-bottom:1px solid #333;
    padding:20px;
}
.mobile-nav-box li.grayblack{
    background:#333;
    border-bottom:1px solid #000;  
}
.mobileSearchForm{
    padding-top: 20px;
    padding-bottom:20px;
}
.mobile-nav-box li a{
    display:flex;
    width:100%;
    height:40px;
    font-size:18px;
    color:#fff;
    justify-content: space-between;
    align-items: center;
}
.mobile-nav-box li a{
    text-decoration:none;
}
.mobile-nav-box li a:hover span{
    text-decoration:underline;
}

.mobile .material-icons{
    font-size:40px;
    margin-right:15px;
}
a.xclose{
    position:absolute;
    top:30px;
    left: 80px;
    z-index:150;
}

a.xclose span.material-icons {
    font-size:50px;
    color:#fff;
    transition: transform 1s;
    transition: -webkit-transform 1s;
}
a.xclose:hover span.material-icons {
    transform:rotate(180deg);
}
ul.mobile-lnb{
    list-style:none;
    padding:0px;
    margin:0;
    margin:15px -20px -20px;
    background:#222;
    display:none;

}
ul.mobile-lnb li{
    padding-left:40px;
}
/** main banner **/
.mainbanner{
    height: auto;
    background: url(../images/1_main_bg.jpg) no-repeat center;
    background-size: cover;
}

.mainbanner>.container{
    padding-top:50px;
    flex-wrap: wrap;
}
.main-text{
    width: 55%;
}
.cont img{
    margin-bottom: 30px;
    max-width: 100%;
}
.mainbanner .col-3{
    height: 80vh;
}
.punch{
    position: absolute;
    text-align: center;
    width: 65%;
    top: -450px;
    left: 0;
}
.coldbrew{
    position: absolute;
    text-align: center;
    width: 65%;
    top: -150px;
    left: 150px;
}
.greentea{
    position: absolute;
    text-align: center;
    width: 65%;
    top: 200px;
    left: 0;
}
.more{
    position: absolute;
    top: 630px;
    left: 300px;
}

.noticebox{
    position: absolute;
    display: flex;
    right: 0px;
    width: 600px;
}
.noticebox strong{
    display: block;
    width: 150px;
}
.notice-text{
    width: calc(100% - 170px);
}
/** section rewards**/
section.rewards p{
    margin-bottom: 0;
}
section.rewards .fs-14{
    font-size: .95em;
}

.imgs{
    display:flex;
    width:100%;
    padding-left:100px;
    margin-top:10px;
}
.imgs span{
    margin-left:100px;
    display:flex;
    width:30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 50%;
}
a.imgs{
    color: #333;
    font-size: 20px;
    text-decoration: none;
}
.imgSlider{
    width: 100%;
    height: 650px;
    overflow: hidden;
    position: relative;
    background: #f6f6ee;
}
.imgSlideIn{
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    top: 40px;
    left: 0;
}
.imgSlideIn>div{
    padding-left: 15px;
    padding-right: 15px;
    opacity: 0.5;
    transition: all 0.2s;
}
.imgSlideIn>div.opacity-1{
    opacity: 1;
}
.page{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 10;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.page li {
    width: 10px;
    height: 10px;
    background: #999;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}
.prev, .next {
    position: absolute;
    top: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 1px solid rgba(255,255,255,0);
    border-radius: 50%;
    color: #999;
    font-size: 30px;
    transition: all 0.3;
    z-index: 11;
}
.prev {
    left: calc(50% - 550px);
}
.next {
    right: calc(50% - 550px);
}
.prev:hover , .next:hover{
    background-color: rgba(255,255,255, .8);
    border-color: #333;
    color: #333;
}
.page li.act{
         background: #000;
 }
/*** section ***/
.summer-bg{
    position: relative;
    height: 572px;
    background:url(../images/2022_Summer_bg2.jpg) center;
    background-size: cover;
}
.tl,.br{
    position: absolute;
}
.tl{
    top: -20px;
    left: 0;
}
.br{
    bottom: -50px;
    right: 0;
}
.bean{
    position: absolute;
    top: 100px;
    left: 240px;
    opacity: 0;
}
.bean-text-box{
    position: absolute;
    top: 180px;
    left: 600px;
    color: rgb(68, 85, 241);
    opacity: 0;

}
.West-java{
    position: relative;
    width: 100%;
    height: 400px;
    background: url(../images/reserve_2022_indonesia_visual_bg.jpg ) center;
    background-size: cover;
}

.ll,.rl{
   position: absolute;
}
.ll{
    bottom: -20px;
    left: -20px;
    z-index: 0;
}
.rl{
    bottom: 0;
    right: 0;
    z-index: 10;
}
.indo{
    position: absolute;
    top: 0;
    left: -470px;
    z-index: 2;
}
.indo-title{
    position: absolute;
    top: 125px;
    left: 30px;
}
.indo-btn{
    position: absolute;
    top: 250px;
    left: 250px;
    z-index: 5;
}

.winter_fav{
    background: url(../images/fav_prod_bg_new.jpg) center center fixed no-repeat #45434c;
    background-size: auto 100%;
    height: 800px;
    padding: 0;
    position: relative;
}
.txt-01,.txt-02{
    opacity: 1;
}
.txt-01{
    position: absolute;
    top: 170px;
    right: 1100px;

}
.txt-02{
    position: absolute;
    top: 430px;
    right: 1100px;

}
.pick{
    position:absolute;
    top: 170px;
    right: 300px;
}
.winter_btn{
    position: absolute;
    bottom: 100px;
    right: 1100px;
}

.magazine{
    overflow: hidden;
    position: relative;
    background: url(../images/reserve_bg_pc.png) no-repeat 50% 100% ;
    height: 400px;
    background-size: auto 353px;
}
.reserve1{
    position: absolute;
    top: 0px;
    right: 450px;
}
.reserve2{
    position: absolute;
    top: 120px;
    left: 450px;
}
.reserve-btn{
    position: absolute;
    top: 270px;
    left: 750px;
}
.storebox{
    background: url(../images/store_bg.jpg);
    background-size: 100% auto;
    height: 400px;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.store01{
    position: absolute;
    top: 120px;
    left: 630px;
    z-index: 10;


}
.store02{
    position: absolute;
    top: -25px;
    left: 380px;
    
}
.store03{
    position: absolute;
    top: -60px;
    right: 800px;
    
}
.store04{
    position: absolute;
    bottom: 0;
    right: 400px; 
}
.store-text01{
    position: absolute;
    top: 100px;
    right: 483px;
}
.store-text02{
    position: absolute;
    top: 168px;
    right: 500px;
}
.store-btn{
    position: absolute;
    bottom: 100px;
    right: 680px
}
.sLeftIn{
    animation: slideLeftIn 1s ease 0.2s forwards;
    animation-play-state: paused;
}
.sRightIn{
    animation: slideRightIn 1s ease 0.2s forwards;
    animation-play-state: paused;
}
/* .txt-01{
    animation: slideLeftIn 0.2s ease 0.2s forwards;
    animation-play-state: paused;
}
.txt-02{
    animation: slideLeftIn 1s ease 0.2s forwards;
    animation-play-state: paused;
} */
footer{
    background: #2c2a29;
}
footer h4{
    text-align: center;
    text-transform: uppercase;
    color:#fff;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
}
.footer-list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.foot-list a{
    font-size: 14px;
    color: #fefefe;
}
.footer-nav li:not(:last-child){
    border-right: 1px solid #eee;
    height: 13px;
    position: relative;
}
.footer-nav a{
    font-size: 13px;
    color:#fff;
    line-height: 13px;
    padding:0 10px;
    position: relative;
    top: -6px;

}
footer p{
    color:#eee;
    font-size: 14px;
}
@media screen and (min-width: 1000px) {
    .navin {
        width:70%;
        display:flex;
        flex-direction: column;
        align-items: flex-end;  
     }
     .mobile {
         display:none;
     }
     .cardbox{
         position: fixed;
         top: 140px;
         left : calc(50% + 620px);
         z-index: 9999;
     }
     .nav-bg .row {
        padding-top:0px;
        padding-bottom:0px;
    }
    .logo{
        width:100%;
    }

    .mainbanner{
        height: 646px;
        background: url(../design/2022_Summer1_main_bg.jpg) no-repeat center;
        background-size: cover;
    }
    .mainbanner .col-3{
        height: 646px;
    }
    .punch{
        position:static;
        display: block;
        text-align: center;
        margin-top: 150px;
        margin-left: -100px;
    }
    .coldbrew{
        position:static;
        margin-left: -200px;

    }
    .greentea{
        position:static;
        margin-bottom: -100px;
        margin-left: 50px;

    }

}
@keyframes slideLeftIn{
    from{
        left:-311px;
        opacity: 0;
    }to{
        left: 100px;
        opacity: 1;
    }
}
@keyframes slideRightIn{
    from{
        right: -330px;
        opacity: 0;
    }to{
        right: 150px;
        opacity: 1;
    }
}